---
name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  basic_example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.2.6
    with:
      working_directory: './examples/basic/'
  complete_example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.2.6
    with:
      working_directory: './examples/complete/'
  spot_instance:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.2.6
    with:
      working_directory: './examples/spot_instance/'
...

